name: Build

on:
  # push:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build source distribution
        run: uv build --sdist

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: ./dist/*.tar.gz
